@{
    ViewBag.Title = "About Us";
    }
<div class="banner">
    <div class="banner-left about-banner-left">
        <div class="logo">
            <h1><a href="index.html">@ViewBag.Title</a></h1>

        </div>
    </div>
   
    <div class="clearfix"> </div>
</div>
<!--//banner-->
<!--about-->
<div class="about">
    <div class="container">

        <div class="about-info">
            <div class="col-md-6 about-grids">

                <p>Dignissimos at vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat officia deserunt mollitia laborum et dolorum fuga. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat </p>
                <div class="about-row">
                    <div class="col-md-4 about-imgs">
                        <img src="../images/img9.jpg" alt="" class="img-responsive zoom-img" />
                    </div>
                    <div class="col-md-4 about-imgs">
                        <img src="../images/img10.jpg" alt="" class="img-responsive zoom-img" />
                    </div>
                    <div class="col-md-4 about-imgs">
                        <img src="../images/img11.jpg" alt="" class="img-responsive zoom-img" />
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-6 about-grids">
                <h2>Progress Bar With Label</h2>
                <br />
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">

                        Dot Net
                    </div>
                </div>
                <br />
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:60%">

                        MS-Sql Server
                    </div>
                </div>
                <br />
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                        Bootstrap
                    </div>
                </div>
                <br />
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        Angular Js
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
